.footer {
  padding: 24px 32px;
  background-color: var(--dark-secondary);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 750px) {
  .footer {
    padding: 16px;
  }
}

.footer__social-links {
  display: flex;
  gap: 8px;
}

.social-links__image {
  width: 32px;
  height: 32px;
  display: block;
}